.profile__about-person-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
}

@media all and (max-width: 544px) {
  .profile__about-person-container {
    flex-direction: column;
    gap: 26px 0 ;
  }
}
