.button_variety_close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url('../../../images/close-big-button.svg');
  top: -40px;
  right: -40px;
}

@media all and (max-width: 544px) {
  .button_variety_close-button {
    width: 20px;
    height: 20px;
    background-image: url('../../../images/close-small-button.svg');
    top: -40px;
    right: 0;
  }
}