.button_variety_edit-button {
  background-image: url('../../../images/edit-big-button.svg');
  width: 24px;
  height: 24px;
  margin-top: 7px;
  grid-area: button_variety_edit-button;
}

@media all and (max-width: 544px) {
  .button_variety_edit-button {
    margin-top: 4px;
    width: 18px;
    height: 18px;
    justify-self: end;
  }
}