.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
  padding-left: 19px;
  padding-right: 19px;
}

@media all and (max-width: 544px) {
  .footer {
    padding-top: 49.5px;
    padding-bottom: 36px;
  }
}